<!DOCTYPE html>
<html>
<head>
    <title>Upload CSV</title>
</head>
<body>
    <h1>Upload a CSV file</h1>
    <form method="POST" enctype="multipart/form-data" action="">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>

    {% if columns %}
    <h2>Select a Column:</h2>
    <form method="POST" action="">
        <select name="selected_column">
            {% for column in columns %}
            <option value="{{ column }}">{{ column }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit">
    </form>
    {% endif %}

    {% if selected_column %}
    <h2>Selected Column:</h2>
    <div>{{ selected_column }}</div>
    {% endif %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message[1] }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
